{% extends "static_header.html" %}
{% block body %}
    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body > .grid {
            height: 800px;
        }

        .header .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }

        {% if messages %}
            .ui.form .error.message {
                display: block;
            }
        {% endif %}
    </style>
    <script>
        $(document)
            .ready(function () {
                $('.ui.form')
                    .form({
                        fields: {
                            username: {
                                identifier: 'username',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your username'
                                    }
                                ]
                            },
                            password: {
                                identifier: 'password',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your password'
                                    },
                                    {
                                        type: 'length[6]',
                                        prompt: 'Your password must be at least 6 characters'
                                    }
                                ]
                            }
                        }
                    })
                ;
            })
        ;
    </script>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui large form" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="ui stacked segment">
                    <h2 class="ui image header">
                        <img src="/static/img/RoboGearTrade.svg" class="image">
                        <div class="content">
                            Log-in to your account
                        </div>
                    </h2>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="ui fluid large submit button">Login</div>
                </div>

                <div class="ui error message">
                    {% if messages %}
                        <ul class="list">
                            {% for message in messages %}
                                <li>
                                    {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

            </form>

            <div class="ui message">
                New to us? <a href="{% url 'register' %}">Sign Up</a>
            </div>
            <div class="ui message">
                Forgot your password? <a href="{% url 'reset' %}">Reset it</a>
            </div>
        </div>
    </div>
{% endblock %}