{% extends "static_header.html" %}
{% block body %}
    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body > .grid {
            height: 800px;
        }

        .header .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }

        {% if messages %}
            .ui.form .error.message {
                display: block;
            }
        {% endif %}
    </style>
    <script>
        $(document)
            .ready(function () {
                $('.ui.checkbox').checkbox();
                $('.ui.form')
                    .form({
                        fields: {
                            username: {
                                identifier: 'username',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your username'
                                    }
                                ]
                            },
                            password: {
                                identifier: 'password',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your password'
                                    },
                                    {
                                        type: 'length[6]',
                                        prompt: 'Your password must be at least 6 characters'
                                    }
                                ]
                            },
                            email: {
                                identifier: 'email',
                                rules: [
                                    {
                                        type: 'email',
                                        prompt: 'Please enter a valid email.'
                                    }
                                ]
                            },
                            toc: {
                                identifier: 'agreement',
                                rules: [
                                    {
                                        type: 'checked',
                                        prompt: 'Please agree to our Terms and Conditions.'
                                    }
                                ]
                            }
                        }
                    })
                ;
            })
        ;
    </script>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <form method="POST" class="ui form stacked segment">
                {% csrf_token %}
                <div class="two fields">
                    <div class="required field">
                        <label>Username</label>
                        <input id="username" type="text" placeholder="Username" name="username">
                    </div>
                    <div class="required field">
                        <label>Password</label>
                        <input id="password" type="password" placeholder="Password" name="password">
                    </div>
                </div>
                <div class="field">
                    <label>Email</label>
                    <input id="email" type="email" class="required" name="email" placeholder="Email">
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input id="agreement" type="checkbox">
                        <label>I have read and agree to the <a href="{% url 'terms' %}">Terms and Conditions</a></label>
                    </div>
                </div>
                <button class="ui button" type="submit" name="action">Register</button>
                <div class="ui error message">
                    {% if messages %}
                        <ul class="list">
                            {% for message in messages %}
                                <li>
                                    {{ message }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}