{% extends "static_header.html" %}
{% load static %}
{% load semanticui %}
{% block body %}
    <script src="{% static 'jquery.address.js' %}"></script>
    <script>
        $(document)
            .ready(function () {
                let tabs = $('.vertical.menu .SettingsItem');
                tabs
                    .tab({
                        history: true,
                        historyType: 'hash',
                        path: '/settings/',
                        debug: true
                    })
                ;
                $('#email_form')
                    .form({
                        fields: {
                            email: {
                                identifier: 'email',
                                rules: [
                                    {
                                        type: 'email'
                                    }
                                ]
                            },
                            match: {
                                identifier: 'email_check',
                                rules: [
                                    {
                                        type: 'match[email]',
                                        prompt: 'Both emails must match.'
                                    }
                                ]
                            }
                        },
                        inline: true,
                        on : 'blur'
                    });
                $('#team_add_form')
                    .form({
                        fields: {
                            comp: {
                                identifier: 'competition',
                                rules: [
                                    {
                                        type: 'empty'
                                    }
                                ]
                            },
                            team_num: {
                                identifier: 'team_num',
                                rules: [
                                    {
                                        type: 'empty'
                                    }
                                ]
                            },
                            relationship: {
                                identifier: 'relationship',
                                rules: [
                                    {
                                        type: 'empty'
                                    }
                                ]
                            }
                        },
                        inline: true,
                        on : 'blur'
                        }

                    )
                $('select.dropdown')
                    .dropdown()
                ;
            })
        ;
    </script>
    <div class="ui stackable two column divided grid">
        <div class="two wide column">
            <div class="ui fluid secondary vertical pointing menu">
                <a class="item SettingsItem" data-tab="main">Settings</a>
                <a class="item SettingsItem" data-tab="teams">Teams</a>
                <a class="item SettingsItem" data-tab="profile">Profile</a>
            </div>
        </div>
        <div class="fourteen wide column">
            <div class="ui tab segment" data-tab="main">
                <h1>General Settings</h1>
                <a class="fluid ui animated button" href="{% url 'resetLoggedInLink' %}">
                    <div class="visible content">Change Password</div>
                    <div class="hidden content">Make sure your email is set correctly.</div>
                </a>
                <div class="ui divider"></div>
                <form method="POST" action="{% url 'resetEmail' %}" class="ui form" id="email_form">
                    {% csrf_token %}
                    <div class="field">
                        <label>Email</label>
                        <input type="email" name="email" placeholder="Enter your email">
                    </div>
                    <div class="field">
                        <input type="email" name="email_check" placeholder="Email, again, to confirm">
                    </div>
                    <button class="fluid ui button">
                        Change Email
                    </button>
                </form>
                <div class="ui divider"></div>
                <form method="POST" action="{% url 'resetUsername' %}" class="ui form warning">
                    {% csrf_token %}
                    <div class="field">
                        <label>Username</label>
                        <input type="text" name="username" placeholder="Enter your new username">
                    </div>
                    <div class="ui warning message">
                        <div class="header">Warning!</div>
                        <ul class="list">
                            <li>All links on the site will automatically switch to your new username.</li>
                            <li>Any bookmarked links will still reference your old username and will break.</li>
                            <li>Your login will change to your new username. Make sure to update your password manager, if you have one.</li>
                        </ul>
                    </div>
                    <button class="fluid ui button">
                        Change Username
                    </button>
                </form>
            </div>
            <div class="ui tab segments" data-tab="teams">
                <div class="ui segment">
                    <h1>My Teams</h1>
                    {% if teams %}
                    <div class="ui three stackable cards">
                        {% for team in teams %}
                        <div class="fluid card">
                            <a href="{% url 'teamDetail' team.team.competition.abbreviation team.team.team_num %}" class="content">
                                <div class="header">{{ team.team.competition.full_name }} Team {{ team.team.team_num }}</div>
                                <div class="meta">
                                    <span>{{ team.team.nickname }}</span>
                                </div>
                            </a>
                            <div class="extra content">
                                Relationship: {{ team.relationship }}
                            </div>
                            {% if team.team.added_manually %}
                            <div class="ui three bottom attached buttons">
                                    <a class="ui green button" id="edit{{ team.team.competition.abbreviation }}{{ team.team.team_num }}button">Edit</a>
                                    <a class="ui green button" href="{% url 'editTeam' team.team.competition.abbreviation team.team.team_num %}">Edit Team</a>
                                    <a class="ui red button" id="{{ team.team.competition.abbreviation }}{{ team.team.team_num }}button">Remove</a>
                            </div>

                            {% else %}
                            <div class="ui two bottom attached buttons">
                                    <a class="ui green button" id="edit{{ team.team.competition.abbreviation }}{{ team.team.team_num }}button">Edit</a>
                                    <a class="ui red button" id="{{ team.team.competition.abbreviation }}{{ team.team.team_num }}button">Remove</a>
                            </div>
                            {% endif %}
                            <div class="ui modal" id="{{ team.team.competition.abbreviation }}{{ team.team.team_num }}modal">
                                <div class="header">Are you sure you want to remove {{ team.team.competition.full_name }} Team {{ team.team.team_num }} from your profile?</div>
                                <div class="actions">
                                    <div class="ui cancel button">Cancel</div>
                                    <a class="negative ui approve button" href="{% url 'deleteTeam' team.team.competition.abbreviation team.team.team_num%}">Remove</a>
                                </div>
                            </div>
                            <script>
                                $("#{{ team.team.competition.abbreviation }}{{ team.team.team_num }}button").click(function(){
                                    $("#{{ team.team.competition.abbreviation }}{{ team.team.team_num }}modal")
                                        .modal('show')
                                });
                            </script>

                            <div class="ui modal" id="edit{{ team.team.competition.abbreviation }}{{ team.team.team_num }}modal">
                                <div class="header">What is your current relationship with {{ team.team.competition.full_name }} Team {{ team.team.team_num }}?</div>
                                <form class="ui form actions" method="POST" action="{% url 'editRelationship' %}">
                                    {% csrf_token %}
                                    <div class="field">
                                        <label>Team Relationship</label>
                                        <input type="text" placeholder="Mentor, Student, Alumni, etc" name="relationship" value="{{ team.relationship }}">
                                    </div>
                                    <input type="hidden" name="competition" value="{{ team.team.competition.abbreviation }}">
                                    <input type="hidden" name="team_num" value="{{ team.team.team_num }}">
                                    <div class="ui cancel button">Cancel</div>
                                    <button class="positive ui approve button" type="submit">Submit</button>
                                </form>
                            </div>
                            <script>
                                $("#edit{{ team.team.competition.abbreviation }}{{ team.team.team_num }}button").click(function(){
                                    $("#edit{{ team.team.competition.abbreviation }}{{ team.team.team_num }}modal")
                                        .modal('show')
                                });
                            </script>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                        <div class="ui placeholder segment">
                            <div class="ui icon header">
                                <i class="dont icon"></i>
                                No teams have been added yet. Add one below.
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="ui segment">
                    <h1>Add a Team</h1>
                    <form method="POST" action="{% url 'addTeam' %}" class="ui form" id="team_add_form">
                        {% csrf_token %}
                        <div class="field">
                            <label>Competition</label>
                            <select name="competition" class="ui search selection dropdown">
                                <option value="">Select Competition</option>
                                {% for comp in competitions %}
                                    <option value="{{ comp.abbreviation }}">{{ comp.full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="field">
                            <label>Team Number</label>
                            <input type="text" name="team_num">
                        </div>
                        <div class="field">
                            <label>Team Relationship</label>
                            <input type="text" placeholder="Mentor, Student, Alumni, etc" name="relationship">
                        </div>
                        <div class="ui tiny message">
                            Don't see your robotics competition? <a href="{% url 'contact' %}">Contact Us</a> to add it.
                        </div>
                        <button class="ui button" type="submit">Add Team</button>
                    </form>
                </div>
            </div>
            <div class="ui tab segment" data-tab="profile">
                <h1>Profile</h1>
                <form class="ui form" enctype="multipart/form-data" action="{% url 'updateAvatar' %}" method="POST">
                    {% csrf_token %}
                    {% render_form avatar_form %}
                    <input type="submit" class="ui button" value="Submit">
                </form>
                <div class="ui divider"></div>
                <form class="ui form" action="{% url 'updateDesc' %}" method="POST">
                    {% csrf_token %}
                    {% render_form desc_form %}
                    <input type="submit" class="ui button" value="Submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}