{% extends "base.html" %}
{% load static %}
{% block navbar %}
      <style type="text/css">
  #header-logo {
        height: 3em;
        width: auto;
      padding: 0 0 0;
  }
  .main.container {
    margin-top: 7em;
  }
  .ui.footer.segment {
    margin: 2em 0em 0em;
    padding: 2em 0em;
  }
  </style>
<div class="ui top fixed inverted menu">
      <a href="/" class="header item">
        <img class="logo" id="header-logo" src="{% static 'img/RoboGearTrade.svg' %}">
      </a>
      <div class="right menu">
          {% if user.is_authenticated %}
              <a class="item">Welcome, {{ user.username }}. Thanks for logging in.</a>
          {% else %}
              <a href="{% url 'login' %}" class="item">Welcome, new user. Please log in.</a>
          {% endif %}
      </div>
</div>
{% endblock %}
