{% extends "static_header.html" %}
{% load humanize %}
{% block body %}
    <div class="ui stackable two column grid">
        <div class="four wide column">
            <div class="ui card">
                <div class="content">
                    <div class="header">{{ team.nickname }}</div>
                    <div class="meta">
                        <span class="date">{{ team.competition.full_name }} {{ team.team_num }}</span>
                    </div>
                    <div class="extra content">
                        <div>
                            <i class="user icon"></i>
                            {{ team.users.count }} Registered Team Member{{ team.users.count|pluralize }}
                        </div>
                    </div>
                </div>
                {% for user in team.users.all %}
                <a href="{% url 'userDetail' user.username %}" class="extra content">
                        <div class="header">
                            {% if user.avatar %}
                                <img class="ui avatar image" src="{{ user.avatar.url }}">
                            {% endif %}
                            {{ user.username }}
                        </div>
                        <div class="meta">
                          <span>Last seen {{ user.last_login|naturaltime}}</span>
                        </div>
                </a>
                {% endfor %}
                {% if perms.users.edit_team %}
                    <a class="ui button" href="{%  url 'admin:users_team_change' team.pk %}">Edit Team</a>
                {% endif %}
            </div>
        </div>
        <div class="twelve wide column">

        </div>
    </div>
{% endblock %}