{% extends "static_header.html" %}
{% load humanize %}
{% block body %}
    <div class="ui stackable two column grid">
        <div class="four wide column">
            <div class="ui card">
                {% if user_profile.avatar %}
                <div class="image">
                    <img src="{{ user_profile.avatar.url }}">
                </div>
                {% endif %}
                <div class="content">
                    <div class="header">{{ user_profile.username }}</div>
                    <div class="meta">
                        <span class="date">Joined in {{ user_profile.date_joined|date:"Y" }}</span>
                    </div>
                    <div class="meta">
                        <span class="date">Last seen {{ user_profile.last_login|naturalday}}</span>
                    </div>
                    <div class="description">
                        {{user_profile.description}}
                    </div>
                </div>
                {% for membership in user_profile.teammembership_set.all %}
                <a href="{% url 'teamDetail' membership.team.competition.abbreviation membership.team.team_num %}" class="extra content">
                        <div class="header">{{ membership.team.nickname }}</div>
                        <div class="meta">
                          <span>{{ membership.team.competition.full_name }} {{ membership.team.team_num }}</span>
                          <br><span>{{ membership.relationship }}</span>
                        </div>
                </a>
                {% endfor %}
                {% if perms.users.edit_user %}
                    <a class="ui button" href="{%  url 'admin:users_user_change' user_profile.pk %}">Edit User</a>
                {% endif %}
                {% if request.user == user_profile %}
                    <a class="ui button" href="{%  url 'settings' %}#/profile">Edit Profile</a>
                {% endif %}
            </div>
        </div>
        <div class="twelve wide column">

        </div>
    </div>
{% endblock %}