{% extends "static_header.html" %}
{% block body %}
    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body > .grid {
            height: 800px;
        }

        .header .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }

        {% if messages %}
            .ui.form .error.message {
                display: block;
            }
        {% endif %}
    </style>
    <script>
        $(document)
            .ready(function () {
                $('.ui.form')
                    .form({
                        fields: {
                            password: {
                                identifier: 'password',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your password'
                                    },
                                    {
                                        type: 'minLength[6]',
                                        prompt: 'Your password is too short'
                                    }
                                ]
                            },
                            password_check: {
                                identifier: 'password2',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your password'
                                    },
                                    {
                                        type: 'match[password]',
                                        prompt:"Make sure both passwords match"
                                    }
                                ]
                            }
                        }
                    })
                ;
            })
        ;
    </script>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui large form" method="POST">
                {% csrf_token %}
                <div class="ui stacked segment">
                    <h2 class="ui image header">
                        <img src="/static/img/RoboGearTrade.svg" class="image">
                        <div class="content">
                            {{ username }}, Reset Your Password
                        </div>
                    </h2>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password2" placeholder="Password">
                        </div>
                    </div>
                    <div class="ui fluid large submit button">Reset Password</div>
                </div>

                <div class="ui error message">
                    {% if messages %}
                        <ul class="list">
                            {% for message in messages %}
                                <li>
                                    {{ message }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

            </form>
        </div>
    </div>
{% endblock %}